# Maven и Gradle каталоги
.mvn/
target/
build/

# IntelliJ IDEA файлы
.idea/
*.iml
*.iws
out/

# MacOS системные файлы
.DS_Store

# Windows системные файлы
Thumbs.db
ehthumbs.db

# Linux системные файлы
*~

# Логи
*.log
logs/

# Runtime файлы
*.pid
*.seed
*.pid.lock

# Кэш приложения
.cache/
*.class

# Конфиденциальные файлы
*.key
*.pem
*.crt
*.env

# Docker
*.war
*.jar
docker-compose.override.yml

# Gradle файлы
.gradle/

# IDE и другие конфигурации
.vscode/
*.swp
*.swo
/gradle/wrapper/gradle-wrapper.jar
/HELP.md
